In [237]:
# Importing libraries
import pandas as pd
import numpy as np

In [238]:
pd.read_csv("train.csv")

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,Female,Hispanic,Highschool,Lower-Middle,Current,Employed,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,Female,White,Highschool,Upper-Middle,Never,Employed,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,Male,Hispanic,Highschool,Lower-Middle,Never,Retired,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,Female,White,Highschool,Lower-Middle,Current,Employed,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,Male,White,Highschool,Upper-Middle,Never,Retired,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed,0,0,0,0.0
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,Female,Hispanic,Graduate,Upper-Middle,Former,Employed,0,0,1,1.0
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,Female,White,Graduate,Middle,Never,Employed,0,0,0,1.0
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,Female,White,Highschool,Lower-Middle,Never,Retired,0,0,0,1.0
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,Female,Black,Graduate,Low,Former,Employed,0,0,0,1.0

In [239]:
pd.read_csv("test.csv")

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,triglycerides,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history
0,700000,45,4,100,4.3,6.8,6.2,25.5,0.84,123,...,111,Female,White,Highschool,Middle,Former,Employed,0,0,0
1,700001,35,1,87,3.5,4.6,9.0,28.6,0.88,120,...,145,Female,White,Highschool,Middle,Never,Unemployed,0,0,0
2,700002,45,1,61,7.6,6.8,7.0,28.5,0.94,112,...,184,Male,White,Highschool,Low,Never,Employed,0,0,0
3,700003,55,2,81,7.3,7.3,5.0,26.9,0.91,114,...,128,Male,White,Graduate,Middle,Former,Employed,0,0,0
4,700004,77,2,29,7.3,7.6,8.5,22.0,0.83,131,...,133,Male,White,Graduate,Low,Current,Unemployed,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,999995,59,3,185,6.3,7.3,4.4,22.8,0.81,108,...,126,Male,White,Highschool,Upper-Middle,Former,Employed,1,0,0
299996,999996,50,2,25,5.8,7.8,4.5,29.6,0.93,112,...,112,Male,Asian,Postgraduate,Lower-Middle,Never,Employed,0,0,0
299997,999997,63,1,252,5.2,7.5,8.5,25.1,0.77,129,...,135,Female,White,Highschool,Middle,Never,Employed,0,0,0
299998,999998,48,3,72,4.9,6.9,1.8,27.7,0.89,121,...,138,Male,White,Highschool,Low,Current,Retired,0,1,0
299999,999999,47,1,75,5.1,8.0,2.5,26.1,0.84,132,...,107,Female,White,Graduate,Upper-Middle,Current,Employed,0,1,0

In [240]:
# Reading CSVs

In [241]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [242]:
# Displaying CSV shapes

In [243]:
train.shape

(700000, 26)

In [244]:
test.shape

(300000, 25)

In [245]:
# Checking for any missing values

In [246]:
train.isnull().values.any()

False

In [247]:
test.isnull().values.any()

False

In [248]:
# Checking for conflicting types in every row

In [249]:
print(train.dtypes)

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
gender                                 object
ethnicity                              object
education_level                        object
income_level                           object
smoking_status                         object
employment_status                      object
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
diagnosed_diabetes                    float64
dtype: object

In [250]:
print(test.dtypes)

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
gender                                 object
ethnicity                              object
education_level                        object
income_level                           object
smoking_status                         object
employment_status                      object
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
dtype: object

In [251]:
# Checking for unique values

In [252]:
train.nunique()

id                                    700000
age                                       71
alcohol_consumption_per_week               9
physical_activity_minutes_per_week       565
diet_score                                99
sleep_hours_per_day                       69
screen_time_hours_per_day                151
bmi                                      231
waist_to_hip_ratio                        36
systolic_bp                               71
diastolic_bp                              54
heart_rate                                60
cholesterol_total                        154
hdl_cholesterol                           69
ldl_cholesterol                          151
triglycerides                            228
gender                                     3
ethnicity                                  5
education_level                            4
income_level                               5
smoking_status                             3
employment_status                          4
family_history_diabetes                    2
hypertension_history                       2
cardiovascular_history                     2
diagnosed_diabetes                         2
dtype: int64

In [253]:
test.nunique()

id                                    300000
age                                       71
alcohol_consumption_per_week               9
physical_activity_minutes_per_week       544
diet_score                                99
sleep_hours_per_day                       68
screen_time_hours_per_day                147
bmi                                      230
waist_to_hip_ratio                        37
systolic_bp                               77
diastolic_bp                              54
heart_rate                                60
cholesterol_total                        165
hdl_cholesterol                           68
ldl_cholesterol                          165
triglycerides                            237
gender                                     3
ethnicity                                  5
education_level                            4
income_level                               5
smoking_status                             3
employment_status                          4
family_history_diabetes                    2
hypertension_history                       2
cardiovascular_history                     2
dtype: int64

In [254]:
# Find what the unique values are for dataset treatment

In [255]:
train['gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [256]:
train['ethnicity'].unique()

array(['Hispanic', 'White', 'Asian', 'Black', 'Other'], dtype=object)

In [257]:
train['education_level'].unique() # Ordinal values

array(['Highschool', 'Graduate', 'Postgraduate', 'No formal'],
      dtype=object)

In [258]:
train['smoking_status'].unique()

array(['Current', 'Never', 'Former'], dtype=object)

In [259]:
train['employment_status'].unique()

array(['Employed', 'Retired', 'Student', 'Unemployed'], dtype=object)

In [260]:
train['income_level'].unique() # Also ordinal values

array(['Lower-Middle', 'Upper-Middle', 'Low', 'Middle', 'High'],
      dtype=object)

In [261]:
# See how much values there is for certain categories

In [262]:
print(train['gender'].value_counts())

gender
Female    363237
Male      333085
Other       3678
Name: count, dtype: int64

In [263]:
print(train['ethnicity'].value_counts())

ethnicity
White       386153
Hispanic    129984
Black       106301
Asian        60120
Other        17442
Name: count, dtype: int64

In [264]:
# Changing the columns for nominal values (Gender (3), Ethnicity (4), Employment Status (4))

In [265]:
gender_map = {'Female': 0, 'Male': 1, 'Other': 2}
ethnicity_map = {'Hispanic': 0, 'White': 1, 'Asian': 2, "Black": 3, "Other": 4}
employment_map = {'Employed': 0, 'Retired': 1, 'Student': 3, 'Unemployed': 4}

In [266]:
train['gender'] = train['gender'].map(gender_map)
test['gender'] = test['gender'].map(gender_map)
train['ethnicity'] = train['ethnicity'].map(ethnicity_map)
test['ethnicity'] = test['ethnicity'].map(ethnicity_map)
train['employment_status'] = train['employment_status'].map(employment_map)
test['employment_status'] = test['employment_status'].map(employment_map)

In [267]:
train

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,0,0,Highschool,Lower-Middle,Current,0,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,0,1,Highschool,Upper-Middle,Never,0,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,1,0,Highschool,Lower-Middle,Never,1,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,0,1,Highschool,Lower-Middle,Current,0,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,1,1,Highschool,Upper-Middle,Never,1,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,0,0,Postgraduate,Upper-Middle,Former,0,0,0,0,0.0
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,0,0,Graduate,Upper-Middle,Former,0,0,0,1,1.0
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,0,1,Graduate,Middle,Never,0,0,0,0,1.0
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,0,1,Highschool,Lower-Middle,Never,1,0,0,0,1.0
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,0,3,Graduate,Low,Former,0,0,0,0,1.0

In [268]:
test

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,triglycerides,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history
0,700000,45,4,100,4.3,6.8,6.2,25.5,0.84,123,...,111,0,1,Highschool,Middle,Former,0,0,0,0
1,700001,35,1,87,3.5,4.6,9.0,28.6,0.88,120,...,145,0,1,Highschool,Middle,Never,4,0,0,0
2,700002,45,1,61,7.6,6.8,7.0,28.5,0.94,112,...,184,1,1,Highschool,Low,Never,0,0,0,0
3,700003,55,2,81,7.3,7.3,5.0,26.9,0.91,114,...,128,1,1,Graduate,Middle,Former,0,0,0,0
4,700004,77,2,29,7.3,7.6,8.5,22.0,0.83,131,...,133,1,1,Graduate,Low,Current,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,999995,59,3,185,6.3,7.3,4.4,22.8,0.81,108,...,126,1,1,Highschool,Upper-Middle,Former,0,1,0,0
299996,999996,50,2,25,5.8,7.8,4.5,29.6,0.93,112,...,112,1,2,Postgraduate,Lower-Middle,Never,0,0,0,0
299997,999997,63,1,252,5.2,7.5,8.5,25.1,0.77,129,...,135,0,1,Highschool,Middle,Never,0,0,0,0
299998,999998,48,3,72,4.9,6.9,1.8,27.7,0.89,121,...,138,1,1,Highschool,Low,Current,1,0,1,0
299999,999999,47,1,75,5.1,8.0,2.5,26.1,0.84,132,...,107,0,1,Graduate,Upper-Middle,Current,0,0,1,0

In [269]:
train.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
gender                                  int64
ethnicity                               int64
education_level                        object
income_level                           object
smoking_status                         object
employment_status                       int64
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
diagnosed_diabetes                    float64
dtype: object

In [270]:
test.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
gender                                  int64
ethnicity                               int64
education_level                        object
income_level                           object
smoking_status                         object
employment_status                       int64
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
dtype: object

In [271]:
# Changing the columns for ordinal values (Education level (4), Income level (5), Smoking status (3))

In [272]:
education_level_map = {'No formal':0, 'Highschool':1, 'Graduate':2, 'Postgraduate':3}
income_level_map = {'Low':0, 'Lower-Middle':1, 'Middle': 2, 'Upper-Middle': 3, 'High': 4}
smoking_status_map = {'Current': 2, 'Former': 1, 'Never': 0}

In [273]:
train['education_level'] = train['education_level'].map(education_level_map)
test['education_level'] = test['education_level'].map(education_level_map)
train['income_level'] = train['income_level'].map(income_level_map)
test['income_level'] = test['income_level'].map(income_level_map)
train ['smoking_status'] = train['smoking_status'].map(smoking_status_map)
test['smoking_status'] = test['smoking_status'].map(smoking_status_map)

In [274]:
train

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history,diagnosed_diabetes
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,0,0,1,1,2,0,0,0,0,1.0
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,0,1,1,3,0,0,0,0,0,1.0
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,1,0,1,1,0,1,0,0,0,0.0
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,0,1,1,1,2,0,0,1,0,1.0
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,1,1,1,3,0,1,0,1,0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,0,0,3,3,1,0,0,0,0,0.0
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,0,0,2,3,1,0,0,0,1,1.0
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,0,1,2,2,0,0,0,0,0,1.0
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,0,1,1,1,0,1,0,0,0,1.0
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,0,3,2,0,1,0,0,0,0,1.0

In [275]:
test

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,triglycerides,gender,ethnicity,education_level,income_level,smoking_status,employment_status,family_history_diabetes,hypertension_history,cardiovascular_history
0,700000,45,4,100,4.3,6.8,6.2,25.5,0.84,123,...,111,0,1,1,2,1,0,0,0,0
1,700001,35,1,87,3.5,4.6,9.0,28.6,0.88,120,...,145,0,1,1,2,0,4,0,0,0
2,700002,45,1,61,7.6,6.8,7.0,28.5,0.94,112,...,184,1,1,1,0,0,0,0,0,0
3,700003,55,2,81,7.3,7.3,5.0,26.9,0.91,114,...,128,1,1,2,2,1,0,0,0,0
4,700004,77,2,29,7.3,7.6,8.5,22.0,0.83,131,...,133,1,1,2,0,2,4,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,999995,59,3,185,6.3,7.3,4.4,22.8,0.81,108,...,126,1,1,1,3,1,0,1,0,0
299996,999996,50,2,25,5.8,7.8,4.5,29.6,0.93,112,...,112,1,2,3,1,0,0,0,0,0
299997,999997,63,1,252,5.2,7.5,8.5,25.1,0.77,129,...,135,0,1,1,2,0,0,0,0,0
299998,999998,48,3,72,4.9,6.9,1.8,27.7,0.89,121,...,138,1,1,1,0,2,1,0,1,0
299999,999999,47,1,75,5.1,8.0,2.5,26.1,0.84,132,...,107,0,1,2,3,2,0,0,1,0

In [276]:
# Making the values nominal

In [277]:
nominal_cols = ['gender', 'ethnicity', 'employment_status']
train = pd.get_dummies(train, columns=nominal_cols)
test = pd.get_dummies(test, columns=nominal_cols)

In [278]:
# Checking the dataset

In [279]:
train

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender_2,ethnicity_0,ethnicity_1,ethnicity_2,ethnicity_3,ethnicity_4,employment_status_0,employment_status_1,employment_status_3,employment_status_4
0,0,31,1,45,7.7,6.8,6.1,33.4,0.93,112,...,False,True,False,False,False,False,True,False,False,False
1,1,50,2,73,5.7,6.5,5.8,23.8,0.83,120,...,False,False,True,False,False,False,True,False,False,False
2,2,32,3,158,8.5,7.4,9.1,24.1,0.83,95,...,False,True,False,False,False,False,False,True,False,False
3,3,54,3,77,4.6,7.0,9.2,26.6,0.83,121,...,False,False,True,False,False,False,True,False,False,False
4,4,54,1,55,5.7,6.2,5.1,28.8,0.90,108,...,False,False,True,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699995,699995,29,1,59,6.9,5.2,1.5,26.1,0.88,133,...,False,True,False,False,False,False,True,False,False,False
699996,699996,46,2,72,7.7,7.7,3.8,25.5,0.85,106,...,False,True,False,False,False,False,True,False,False,False
699997,699997,35,1,50,5.6,6.1,6.4,26.9,0.88,127,...,False,False,True,False,False,False,True,False,False,False
699998,699998,49,2,70,5.7,6.9,4.7,25.2,0.86,116,...,False,False,True,False,False,False,False,True,False,False
699999,699999,42,4,56,4.2,7.0,6.1,28.3,0.90,99,...,False,False,False,False,True,False,True,False,False,False

In [280]:
test

,id,age,alcohol_consumption_per_week,physical_activity_minutes_per_week,diet_score,sleep_hours_per_day,screen_time_hours_per_day,bmi,waist_to_hip_ratio,systolic_bp,...,gender_2,ethnicity_0,ethnicity_1,ethnicity_2,ethnicity_3,ethnicity_4,employment_status_0,employment_status_1,employment_status_3,employment_status_4
0,700000,45,4,100,4.3,6.8,6.2,25.5,0.84,123,...,False,False,True,False,False,False,True,False,False,False
1,700001,35,1,87,3.5,4.6,9.0,28.6,0.88,120,...,False,False,True,False,False,False,False,False,False,True
2,700002,45,1,61,7.6,6.8,7.0,28.5,0.94,112,...,False,False,True,False,False,False,True,False,False,False
3,700003,55,2,81,7.3,7.3,5.0,26.9,0.91,114,...,False,False,True,False,False,False,True,False,False,False
4,700004,77,2,29,7.3,7.6,8.5,22.0,0.83,131,...,False,False,True,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,999995,59,3,185,6.3,7.3,4.4,22.8,0.81,108,...,False,False,True,False,False,False,True,False,False,False
299996,999996,50,2,25,5.8,7.8,4.5,29.6,0.93,112,...,False,False,False,True,False,False,True,False,False,False
299997,999997,63,1,252,5.2,7.5,8.5,25.1,0.77,129,...,False,False,True,False,False,False,True,False,False,False
299998,999998,48,3,72,4.9,6.9,1.8,27.7,0.89,121,...,False,False,True,False,False,False,False,True,False,False
299999,999999,47,1,75,5.1,8.0,2.5,26.1,0.84,132,...,False,False,True,False,False,False,True,False,False,False

In [281]:
train.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
education_level                         int64
income_level                            int64
smoking_status                          int64
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
diagnosed_diabetes                    float64
gender_0                                 bool
gender_1                                 bool
gender_2                                 bool
ethnicity_0                              bool
ethnicity_1                              bool
ethnicity_2                              bool
ethnicity_3                              bool
ethnicity_4                              bool
employment_status_0                      bool
employment_status_1                      bool
employment_status_3                      bool
employment_status_4                      bool
dtype: object

In [282]:
test.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
education_level                         int64
income_level                            int64
smoking_status                          int64
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
gender_0                                 bool
gender_1                                 bool
gender_2                                 bool
ethnicity_0                              bool
ethnicity_1                              bool
ethnicity_2                              bool
ethnicity_3                              bool
ethnicity_4                              bool
employment_status_0                      bool
employment_status_1                      bool
employment_status_3                      bool
employment_status_4                      bool
dtype: object

In [283]:
train['diagnosed_diabetes'].unique

<bound method Series.unique of 0         1.0
1         1.0
2         0.0
3         1.0
4         1.0
         ...
699995    0.0
699996    1.0
699997    1.0
699998    1.0
699999    1.0
Name: diagnosed_diabetes, Length: 700000, dtype: float64>

In [284]:
train['diagnosed_diabetes'] = train['diagnosed_diabetes'].astype('int64')

In [285]:
train.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
education_level                         int64
income_level                            int64
smoking_status                          int64
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
diagnosed_diabetes                      int64
gender_0                                 bool
gender_1                                 bool
gender_2                                 bool
ethnicity_0                              bool
ethnicity_1                              bool
ethnicity_2                              bool
ethnicity_3                              bool
ethnicity_4                              bool
employment_status_0                      bool
employment_status_1                      bool
employment_status_3                      bool
employment_status_4                      bool
dtype: object

In [286]:
test.dtypes

id                                      int64
age                                     int64
alcohol_consumption_per_week            int64
physical_activity_minutes_per_week      int64
diet_score                            float64
sleep_hours_per_day                   float64
screen_time_hours_per_day             float64
bmi                                   float64
waist_to_hip_ratio                    float64
systolic_bp                             int64
diastolic_bp                            int64
heart_rate                              int64
cholesterol_total                       int64
hdl_cholesterol                         int64
ldl_cholesterol                         int64
triglycerides                           int64
education_level                         int64
income_level                            int64
smoking_status                          int64
family_history_diabetes                 int64
hypertension_history                    int64
cardiovascular_history                  int64
gender_0                                 bool
gender_1                                 bool
gender_2                                 bool
ethnicity_0                              bool
ethnicity_1                              bool
ethnicity_2                              bool
ethnicity_3                              bool
ethnicity_4                              bool
employment_status_0                      bool
employment_status_1                      bool
employment_status_3                      bool
employment_status_4                      bool
dtype: object

In [287]:
# Preparing training variables

In [288]:
X_train = train.drop(columns=['diagnosed_diabetes'])
y_train = train['diagnosed_diabetes']
X_test = test

In [289]:
# Making the model

In [290]:
from sklearn.ensemble import RandomForestClassifier

In [291]:
model = RandomForestClassifier(n_estimators=1250, random_state=42, min_samples_leaf = 5, min_samples_split = 10, max_features=0.75, max_depth = 100, n_jobs=-1)

In [ ]:
model.fit(X_train,y_train)

In [ ]:
submission = pd.read_csv("sample_submission.csv")

In [ ]:
probabilities = model.predict_proba(X_test)[:, 1]

In [ ]:
submission['diagnosed_diabetes'] = probabilities

In [ ]:
submission

In [ ]:
submission.to_csv('my_submission.csv', index=False)